Controller/build/build.options.json
Controller/build/compile_commands.json
Controller/build/sketch/Controller.ino.cpp
Controller/build/sketch/.vscode/arduino.json
Controller/build/sketch/.vscode/build.options.json
Controller/build/sketch/.vscode/c_cpp_properties.json
Controller/.vs/Controller/v16/Browse.VC.db
Controller/.vs/Controller/v16/Browse.VC.db-shm
Controller/.vs/Controller/v16/Browse.VC.db-wal
Controller/.vs/Controller/v16/Browse.VC.opendb
Controller/.vs/Controller/v16/ipch/AutoPCH/1ddce4671572cd4c/CONTROLLER.ipch
Controller/.vs/Controller/v16/ipch/AutoPCH/2008f4cb21a996ad/SEEEDTOUCHSCREEN.ipch
Controller/.vs/Controller/v16/ipch/AutoPCH/4d4f0a816049acff/TFT_INTERFACE_JML.ipch
Controller/.vs/Controller/v16/ipch/AutoPCH/4e68961dbc6560b6/IO90PWM216.ipch
Controller/.vs/Controller/v16/ipch/AutoPCH/61ed1328d6ac5e3d/IO90PWM161.ipch
Controller/.vs/Controller/v16/ipch/AutoPCH/63bbcceb7b03bc4e/CONTROLLER.ipch
Controller/.vs/Controller/v16/ipch/AutoPCH/e00246ce28b2d2d1/TFT_INTERFACE_JML.ipch
Controller/.vs/Controller/v16/ipch/AutoPCH/e442962142ddba7e/.CONTROLLER.VSARDUINO.ipch
Controller/.vs/Controller/v16/ipch/AutoPCH/e78f7cc5f1059fbb/IOA5795.ipch
Controller/.vs/Controller/v16/ipch/AutoPCH/f96c011b0dd1cf10/.CONTROLLER.VSARDUINO.ipch
Controller/.vs/Controller/v16/ipch/
